<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
    <div class="col-6">
        <% if (posting.image) { %>
            <img src="<%= posting.image %>" class="img-fluid" alt="<%= posting.title %>">
        <% } else { %>
            <p>No image available</p>
        <% } %>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= posting.title%></h5>
                <p class="card-text"><%= posting.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Posted by <%= posting.author.username%></li>
            </ul>
            <% if(currentUser && posting.author.equals(currentUser._id)){ %>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/postings/<%=posting._id%>/edit">Edit</a>
                    <form class="d-inline" action="/postings/<%=posting._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
    

    
    <div class="col-6">
        <% if(currentUser){ %>
            <h2>Leave a Comment</h2>
            <form action="/postings/<%=posting._id%>/comment" method="POST" class="mb-3 validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="body">Comment</label>
                    <textarea class="form-control" name="comment[body]" id="body" cols="30" rows="3" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        <% } %>
        
        <% for(let comment of posting.comments) { %>
            <div class="card mb-3 ">
                <div class="card-body">
                    <h5 class="card-title"><%= comment.author.username %></h5>
                    <p class="card-text">Comment: <%= comment.body %></p>
                    <% if(currentUser && comment.author.equals(currentUser._id)){ %>
                        <form action="/postings/<%=posting._id%>/comment/<%=comment._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>

<script>
    const posting = <%- JSON.stringify(posting) %>
</script>