<% layout('layouts/boilerplate')%>
    <div class="container">
        <h1 class="text-center">상품 수정</h1>
        <div class="col-md-6 offset-md-3 border border-primary rounded p-4 mb-2">
            <div class="row">
                <form action="/products/<%=product._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                    <div class="mb-3">
                        <label class="form-label" for="name">상품명</label>
                        <input class="form-control" type="text" id="name" name="product[name]"
                            value="<%=product.name %>" required>
                        <div class="valid-feedback">
                            좋습니다!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="price">가격</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">₩</span>
                            <input type="number" class="form-control" id="price" placeholder="0" aria-label="price"
                                aria-describedby="price-label" name="product[price]" value="<%=product.price %>"
                                required>
                            <div class="valid-feedback">
                                좋습니다!
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="quantity">수량</label>
                        <input class="form-control" type="number" id="quantity" name="product[quantity]"
                            value="<%=product.quantity %>" required min="0">
                        <div class="valid-feedback">
                            좋습니다!
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" readonly class="form-control-plaintext" id="createdAt" placeholder="생성일"
                            value="<%= product.createdAt.toLocaleString() %>">
                        <label for="createdAt">생성일</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" readonly class="form-control-plaintext" id="updatedAt" placeholder="최종 변경일자"
                            value="<%= product.updatedAt.toLocaleString() %>">
                        <label for="updatedAt">최종 수정일자</label>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary">상품 수정</button>
                    </div>
                </form>
                <a href="/products">이전 페이지로 돌아가기</a>
            </div>
        </div>
    </div>